/* :root {
  --background-color: rgb(49, 49, 49);
  --color: rgb(232, 232, 232);
  --background-color-object: rgb(77, 77, 77);
} */
:root {
  --yellow-color: #F9BA51;
  --lightblue-color:#78C9C0;
  --orange-color: #E75A31;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --dark-blue-color: #032F48;
  --light-grey-color: rgb(122, 131, 128);
  --dark-grey-color: #151F32;
  --grey-color: #C2C2C2;
  --pink-color: #FCD3AC;
  --white-transparent-color: rgba(255, 255, 255, 0.5);
}

/* Код для подключения шрифта в /css/stylename.css */

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
  url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
  url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
  url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
  url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
  url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
  url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
  url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBoldItalic";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
  url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBlackItalic";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
  url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BebasNeue Light";
  src: url("../fonts/BebasNeue/BebasNeue\ Light.otf");
  src: url("../fonts/BebasNeue/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BebasNeue/GothamProRegular.woff") format("woff"),
  url("../fonts/BebasNeue//BebasNeue\ Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}




* {
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Lato', 'Times New Roman', sans-serif;
    font-family: 'Times New Roman', sans-serif; */
}

html, body {
  color: var(--dark-blue-color);
  margin: 0 auto;
  max-width: 1300px;
  background-color: #f0ebe8;
}
body {
  /* 1554 1024 380 */
  /* width: 1554px;
  width: 1024px;
  width: 900px; */
  /* padding: 10px 30px; */
  /* background-color: lightskyblue; */
}
header {
  background-color: #FAFAFA;
}
.section-header {
  display: none;
}

/* ---------------------------------------- */
/* Top Menu ------------------------------- */
/* ---------------------------------------- */

.section-top-menu {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1300px;

  display: grid;
  grid-template-columns: 300px 2fr 170px;
  grid-template-areas: 
  "div-top-menu-logo-title   nav-top-menu-option   div-top-menu-contacts";
  grid-gap: 10px;
}

.div-top-menu-logo-title {
  grid-area: div-top-menu-logo-title;
  display: flex;
}
.div-top-menu-logo {
}
.img-top-menu-logo {
  
}

.div-top-menu-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.div-top-menu-title-kylie {
  /* From Mak */
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 29px;
  color: #333333;
  font-family: "BebasNeue Light";
  font-weight: 700;
  /* From Mak */
  
  /* font-stretch: inherit | ultra-condensed | extra-condensed | condensed | semi-condensed | normal | semi-expanded | expanded | extra-expanded | ultra-expanded */
  font-stretch: extra-condensed;
}
.div-top-menu-title-lip-stick {
  /* From Mak */
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  color: #d4416a;
  font-family: "GothamProLight";
  font-weight: 300;
  /* From Mak */
}



.nav-top-menu-option {
  grid-area: nav-top-menu-option;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-top-menu-option a {
  padding: 12px 2px;
  text-decoration: none;
  border-radius: 8px;
  
  /* From Mak */
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #656463;
  font-family: "GothamProLight";
  text-align: center;
  /* From Mak */
}

.nav-top-menu-option a:focus {
  color: #d4416a;
  border-bottom: 3px solid #d4416a;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-top-menu-option-describe {}

.nav-top-menu-option-catalogue {}

.nav-top-menu-option-fidback {}

.nav-top-menu-option-delivery {}

.nav-top-menu-option-order {}

.div-top-menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: div-top-menu-contacts;
  font-weight: bold;
  
  /* From Mak */
  font-size: 14px;
  line-height: 28px;
  color: #333333;
  font-family: "GothamProLight";
  text-align: right;
  /* From Mak */
}
.code-country {
  font-weight: normal;
}
.div-top-menu-contacts-mts {
  display: flex;
}
.div-top-menu-contacts-mts-number {
  margin-left: 5px;
}
.div-top-menu-contacts-life {
  display: flex;
}
.div-top-menu-contacts-life-number {
  margin-left: 5px;
}



/* ---------------------------------------- */
/* Test section --------------------------- */
/* ---------------------------------------- */


.section-test {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "div-border-top div-border-top"
  "section-test-kylie section-test-photo"
  "section-test-info section-test-photo"
  "section-test-button section-test-photo"
  "div-border-bottom div-border-bottom"
  ;
}
.section-test-kylie {
  grid-area: section-test-kylie;
  /* border: 1px solid red; */
}

.section-test-info {
  grid-area: section-test-info;
  /* border: 1px solid green; */
}

.section-test-button {
  grid-area: section-test-button;
  /* border: 1px solid blue; */
}

.section-test-photo {
  grid-area: section-test-photo;
  /* border: 1px solid orange; */
}

.div-photo {
  padding-top: 100px;
  padding-left: 50px;
  height: 320px;
}



/* ---------------------------------------- */
/* Borders -------------------------------- */
/* ---------------------------------------- */



.div-border-top {
  grid-area: div-border-top;
  background-repeat: repeat-x;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transform: translate(0, 20px);
  border: 1px solid green;
  background-color: red;
  border: 1px solid transparent;
  background-color: transparent;
}

.div-border-bottom {
  grid-area: div-border-bottom;
  background-repeat: repeat-x;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transform: translate(0, -18px);
  border: 1px solid red;
  background-color: green;
  border: 1px solid transparent;
  background-color: transparent;
}

.div-border-footer {
  background-repeat: no-repeat;
  overflow: hidden;
}



/* ---------------------------------------- */
/* Section Base --------------------------- */
/* ---------------------------------------- */



.section-base {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "div-section-base-text-lip-stick-kylie"
  "div-section-base-text-information"
  "div-section-base-photo"
  "div-section-base-text-button"
  ;
  grid-gap: 10px;

  padding-top: 30px;
  min-height: 450px;
  background-color: #dee1d3;
  display: none;

}
.div-section-base-text {
  padding-left: 30px;
  padding-right: 30px;
}
.div-section-base-text-lip-stick-kylie {
  grid-area: div-section-base-text-lip-stick-kylie;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  /* From Mak */
  font-size: 36px;
  line-height: 48px;
  color: #333333;
  font-family: "Bebas Neue";
  font-family: "BebasNeue Light";
  font-weight: 700;
  /* From Mak */
}
.div-section-base-text-lip-stick {
  margin-right: 10px;
}
.div-section-base-text-kylie {
  margin-left: 10px;
  color: #d4416a;
}

.div-section-base-text-information {
  grid-area: div-section-base-text-information;


  justify-content: center;
  text-align: justify;
  
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 50px;
  padding-right: 50px;

  /* From Mak */
  font-size: 18px;
  line-height: 36px;
  color: #333333;
  font-family: "GothamProLight";
    /* From Mak */
  overflow: auto;
}

.div-section-base-text-button {
  grid-area: div-section-base-text-button;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-section-base-text-button a {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 3px solid  #bb4464;
  border-top: none;
  border-left: none;
  background-image: linear-gradient(0deg, #b93d5f 0%, rgba(185,61,95,0) 100%);

  text-decoration: none;
  padding: 10px 50px;

  display: inline-block;

  /* From Mak */
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-family: "GothamProLight";
  text-align: center;
  /* From Mak */
}

.div-Bold {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: underline;
  color: red;
  font-size: 20px;
  background-color: aqua;
}

.div-section-base-text-button a:active {
  /* Ефект натискання кнопки */
  transform: translate(3px, 3px);
  /* Не створює ефект стрибання нижніх об'єктів */
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.div-section-base-photo {
  grid-area: div-section-base-photo;
  position: relative;
}

.photo-container {
  position: absolute;
  bottom: 0;
  width: 645px;
  left: 50px;
  max-height: 600px;
}

.div-section-base-photo img {
  position: absolute;
}

.img-hyeig-background {
  width: 100%;
  width: 75%;
}
.img-lip-stick-top {
  width: 26.29%;
  width: 19.72%;
  top: 60px;
}
.img-star_pink {
  width: 15.54%;
  width: 11.66%;
  left: -35px;
  top: 30px;
}
.img-star_transparent {
  width: 13.60%;
  width: 10.20%;
  left: -31px;
  top: 34px;
}
.div-section-base-photo-price {
  position: absolute;
  width: 13.60%;
  width: 10.20%;
  left: -32px;
  top: 50px;
  
  font-size: 16px;
  color: #ffffff;
  font-family: "GothamProLight";
  font-weight: 900;
  text-align: center;
  
  transform: rotate(30deg);
}

/* ---------------------------------------- */
/* Section Bottom ------------------------- */
/* ---------------------------------------- */

.section-bottom {
  min-height: 300px;
  position: relative;
  margin-bottom: 50px;
}

.div-about-kylie-title {
  grid-area: div-about-kylie-title;

  /* From Mak */
  font-size: 36px;
  line-height: 48px;
  color: #d4416a;
  font-family: "GothamProLight";
  font-weight: bold;
  text-align: center;
  /* From Mak */

}

.div-about-kylie {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "div-about-kylie-title div-about-kylie-title"
  "div-about-kylie-photo div-about-kylie-information"
  "section-bottom-button section-bottom-button";
  grid-gap: 10px;
}

.div-about-kylie-photo {
  grid-area: div-about-kylie-photo;
  min-width: 400px;
  display: flex;
  justify-content: center;
}
.div-about-kylie-photo-border {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 30px;

  width: 340px;
  height: 340px;
  border-radius: 170px;
  background-color: #d47e96;
}


.div-about-kylie-information {
  grid-area: div-about-kylie-information;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 150px;

  /* From Mak */
  font-size: 16px;
  line-height: 36px;
  color: #333333;
  font-family: "GothamProLight";
  /* From Mak */
}

.img-lip-stick-bottom {
  position: absolute;
  top: 220px;
  right: 50px;
}

.section-bottom-button {
  grid-area: section-bottom-button;
}



.div-section-base-text-lip-stick-kylie {
  grid-area: div-section-base-text-lip-stick-kylie;
}

.div-section-base-text-button {
  grid-area: div-section-base-text-button;
}

.div-section-base-text-information {
  grid-area: div-section-base-text-information;
}

@media (max-width: 1000px) {

  .section-top-menu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "div-top-menu-logo-title div-top-menu-contacts"
    "nav-top-menu-option  nav-top-menu-option"
    ;
  }

  .div-section-base-text-lip-stick-kylie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }

  .img-hyeig-background {
    background-position-x: center ;
  }

  .img-lip-stick-bottom {
    display: none;
  }

  .div-section-base-text-button {
    min-height: 300px;
  }
  .div-section-base-text-button-colapse {
    min-height: 0px;
  }
  .div-about-kylie-information {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
  }

}


@media (max-width: 500px) {

  .section-top-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "div-top-menu-logo-title"
    "div-top-menu-contacts"
    ;
  }

  .div-top-menu-logo-title {
    justify-content: center;
  }
  .div-top-menu-contacts {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-top-menu-option {
    display: none;
  }
  .section-base {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "div-section-base-text-information"
    "div-section-base-text-button"
    "div-section-base-text-lip-stick-kylie"
    ;
    grid-gap: 0px;
  }

  .div-section-base-text {
    max-width: 450px;
  }
  
  .div-section-base-text-button {
    margin-bottom: 30px;
  }

  .div-section-base-text-information {
    margin-bottom: 30px;
  }

  .div-section-base-photo {
    position: relative;
  }

  .img-hyeig-background {
    display: none;
  }

  .div-about-kylie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "div-about-kylie-title"
    "div-about-kylie-photo"
    "div-about-kylie-information"
    "section-bottom-button"
    ;
    grid-gap: 0px;
  }

}




@media (max-width: 1250px) {
  .div-photo {
    padding-left: 25px;
  }
}

@media (max-width: 1200px) {
  .div-photo {
    padding-left: 20px;
  }
}

@media (max-width: 1150px) {
  .div-photo {
    padding-left: 15px;
  }
}

@media (max-width: 1100px) {
  .div-photo {
    padding-left: 10px;
  }
}

@media (max-width: 1050px) {
  .div-photo {
    padding-left: 5px;
  }
}

@media (max-width: 1000px) {
  .section-test {
    grid-template-columns: 1fr;
    grid-template-areas:
    "section-test-kylie"
    "div-border-top"
    "section-test-photo"
    "div-border-bottom"
    "section-test-info"
    "section-test-button"
    ;
  }

  .section-test {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "section-test-kylie  section-test-kylie"
    "div-border-top      div-border-top"
    "section-test-button section-test-photo"
    "div-border-bottom   div-border-bottom"
    "section-test-info   section-test-info"
    ;
  }

  .div-about-kylie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "div-about-kylie-title div-about-kylie-title"
    "div-about-kylie-photo div-about-kylie-information"
    "section-bottom-button div-about-kylie-information"
    ;
    grid-gap: 0px;
  }

  .div-photo {
    padding-top: 25px;
    padding-left: 400px;
    padding-left: 0px;
  }

  .div-section-base-text-lip-stick {
    margin-right: 0px;
  }
  .div-section-base-text-kylie {
    margin-left: 0px;
  }

}

@media (max-width: 900px) {
  .div-photo {
    padding-left: 350px;
    padding-left: 0px;
  }
}

@media (max-width: 800px) {
  .div-photo {
    padding-left: 300px;
    padding-left: 0px;
  }
}

@media (max-width: 750px) {
  .div-photo {
    padding-left: 300px;
    padding-left: 100px;
  }

  .section-test {
    grid-template-columns: 1fr;
    grid-template-areas:
    "section-test-kylie"
    "div-border-top"
    "section-test-photo"
    "div-border-bottom"
    "section-test-button"
    "section-test-info"
    ;
  }

  .div-section-base-text-button {
    min-height: 0px;
  }

  .div-about-kylie {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "div-about-kylie-title"
    "div-about-kylie-photo"
    "div-about-kylie-information"
    "section-bottom-button";
    grid-gap: 10px;
  }

  .div-about-kylie-photo {
    display: flex;
    justify-content: center;
  }
  .div-about-kylie-information {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}



@media (max-width: 700px) {
  .div-photo {
    padding-left: 250px;
    padding-left: 75px;
  }
}

@media (max-width: 600px) {
  .div-photo {
    padding-left: 200px;
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .section-test {
    grid-template-columns: 1fr;
    grid-template-areas:
    "section-test-kylie"
    "div-border-top"
    "section-test-photo"
    "div-border-bottom"
    "section-test-info"
    "section-test-button"
    ;
  }

  .div-photo {
    padding-top: 0px;
    padding-left: 150px;
  }
}

/* ---------------------------------------- */
/* Footer --------------------------------- */
/* ---------------------------------------- */


.div-box-container {
  max-width: 1300px;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
  "div-box-element-2 div-box-element-2 div-box-element-3"
  "div-box-element-4 div-box-element-5 div-box-element-5"
  "div-box-element-7 div-box-element-8 div-box-element-9"
  "div-box-element-6 div-box-element-6 div-box-element-1";
  grid-template-rows: 1fr 2fr 1fr 5fr;
  grid-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;

  display: none;

}
.div-box-element-1 {
  grid-area: div-box-element-1;
  background-color: lightseagreen;
}
.div-box-element-2 {
  grid-area: div-box-element-2;
  background-color: mediumvioletred;
}
.div-box-element-3 {
  grid-area: div-box-element-3;
  background-color: lightseagreen;
}
.div-box-element-4 {
  grid-area: div-box-element-4;
  background-color: mediumvioletred;
}
.div-box-element-5 {
  grid-area: div-box-element-5;
  background-color: lightseagreen;
}
.div-box-element-6 {
  grid-area: div-box-element-6;
  background-color: mediumvioletred;
}
.div-box-element-7 {
  grid-area: div-box-element-7;
  background-color: lightseagreen;
}
.div-box-element-8 {
  grid-area: div-box-element-8;
  background-color: mediumvioletred;
}
.div-box-element-9 {
  grid-area: div-box-element-9;
  background-color: lightseagreen;
}

@media (max-width: 1000px) {
  .div-box-element-1 {
    background-color: midnightblue;
    border: 5px solid #a2a2a2;
  }
  .div-box-element-2 {
    background-color: red;
  }
  .div-box-element-3 {
    background-color: orangered;
  }
}
